<ion-header>
    <ion-toolbar>
        <ion-title>Recuperar clave</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="col-img">
            <ion-img class="img-pass" src="../../../../assets/recover-pass.svg"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <form>
                <ion-item lines="full">
                    <ion-label position="floating">Telefono</ion-label>
                    <ion-input type="text" required required [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>

                <ion-row>
                    <ion-col>
                        <br>
                        <ion-button type="submit" (click)="getByPhone()" color="primary" expand="block">Verificar telefono</ion-button>
                    </ion-col>
                </ion-row>

                <ion-item lines="full" *ngIf="enable">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" required [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>

                <ion-item lines="full" *ngIf="enable">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" required [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>

                <ion-row *ngIf="enable">
                    <ion-col>
                        <br>
                        <ion-button type="submit" (click)="updateUser()" color="danger" expand="block">Login</ion-button>
                        <ion-button type="submit" (click)="back()" color="secondary" expand="block">Volver</ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-col>
    </ion-row>

</ion-content>
