.img {
    max-width: 500px;
    height: 125px;
    filter: drop-shadow(3px 4px 4px #444);
}

ion-toolbar {
    --background: transparent;
}

ion-chip {
    --background: #9dc912;
    --color: #fff;
}
