.img {
    max-width: 500px;
    height: 125px;
    filter: drop-shadow(3px 4px 4px #444);
}

.img-ads {
    border-radius: 10px;
    height: 450px;
}

ion-fab-button {
    --background: #11846D;
}

.custom-icon-wa {
    font-size: 40px;
    color: white;
}
